[user]
name = Brandon Rhodes
email = brandon@rhodesmill.org

[alias]
a = add -A
abandon = !b="$(git symbolic-ref --short HEAD)" && [ "$b" != "master" ] && git checkout master && git branch -D "$b"
amend = commit --amend
atag = !bash -c 'git tag -a \"$@\" && git push --follow-tags' --
br = branch
ci = commit -v
co = checkout
d = diff
diff-vs-master = !git diff "$@" $(git merge-base HEAD origin/master) -- .
fetch-pull-request = !git fetch origin pull/$1/head:pull-$1
incoming = remote show origin
l = log --graph --pretty=oneline --abbrev-commit --decorate=short
lp = log -p
ls = log --stat
locate = ls-tree --name-only -r HEAD
patch = commit --patch -v
merge-abort = merge --abort
score = diff --shortstat
score-vs-master = !git diff --shortstat $(git merge-base HEAD origin/master) -- .
st = status
undo = reset --soft HEAD~1

[core]
pager = less -FRX
excludesfile = ~/.gitexcludes

[color]
branch = auto
diff = auto
interactive = auto
status = auto

[commit]
template = ~/.gitmessage.txt

[filter "sshconfig_trailer"]
clean = sed '/^. Everything below will be ignored by git.$/q'

[merge]
conflictstyle = diff3

[push]
default = current

[include]
path = .gitlocal
