! X resource settings

! The emacs font can also be set inside of ~/.emacs.d/init.el, but by
! the time init.el is read, the window manager has already chosen where
! to position Emacs and the late switch in font size can result in the
! window being partially off the right edge of the screen.  So we set
! the value here instead:

Emacs.font: Ubuntu Mono-10
Emacs.geometry: 80x28

NetHack.tile_file: /home/brandon/local/lib/nethack/X11tiles-32-32.xpm
NetHack*map*rows: 24
NetHack*map*columns: 64

XEphem.Sitename: Atlanta, Georgia
XEphem*Tips.No.set: True

Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight

XTerm*backarrowKeyIsErase: true
XTerm*bellIsUrgent: true
XTerm*charClass: 45-47:48,58:48,61:48,63:48,64:48,126:48
XTerm*internalBorder:  2
XTerm*highlightSelection: true
XTerm*metaSendsEscape: true
XTerm*VT100*translations: #override <Key>BackSpace: string(0x7f)
XTerm*ttyModes: erase ^?
XTerm*visualBell: false
XTerm.vt100.faceName: Inconsolata
XTerm.vt100.faceSize: 10
XTerm.vt100.saveLines: 1024
XTerm.vt100.scrollKey: true
XTerm.vt100.scrollTtyOutput: false

XTerm.vt100.Translations: #override \
 Shift <KeyPress> Prior:scroll-back(1,page) \n\
 Shift <KeyPress> Next:scroll-forw(1,page)

!! Experiment with dark "everforest" theme

*background:            #272E33
*foreground:            #D3C6AA
*cursorColor:           white
*pointerColorBackground:black
*pointerColorForeground:white

!! black dark/light (? / shell command fg)
*color0:                black
*color8:                white

!! red dark/light
*color1:                #E67E80
*color9:                #E67E80

!! green dark/light
*color2:                #A7C080
*color10:               #A7C080

!! yellow dark/light
*color3:                #DBBC7F
*color11:               #DBBC7F

!! blue dark/light
*color4:                #7FBBB3
*color12:               #7FBBB3

!! magenta dark/light
*color5:                #D699B6
*color13:               #D699B6

!! cyan dark/light
*color6:                #83C092
*color14:               #83C092

!! white dark/light (shell command bg / zsh "RPROMPT" fg)
*color7:                #4F5b58
*color15:               #1E2326
